<form [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
  <div fxLayout="row">
    <h1 fxFlex mat-dialog-title>Kennwort vergessen</h1>
    <button mat-icon-button id="close" (click)="dialogRef.close()" tabindex="-1">
      <mat-icon>&#xe5cd;</mat-icon>
    </button>
  </div>
  <mat-dialog-content fxLayout="column">
    <mat-form-field fxFlex color="accent">
      <mat-label>E-Mail</mat-label>
      <input autofocus matInput type="email" placeholder="Ihre E-Mail Adresse" formControlName="email"
        autocomplete="email" required>
      <mat-error *ngIf="fg.controls['email'].invalid">Bitte gib eine gültige E-Mail Adresse ein</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="16px">
    <button mat-button (click)="dialogRef.close()" type="button" tabindex="-1">Abbrechen</button>
    <button mat-button color="accent">
      <mat-icon>&#xe877;</mat-icon> Ok
    </button>
  </mat-dialog-actions>
</form>
