<form class="forgot-password-form" [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
  <header class="dialog__header">
    <h1 class="headline" mat-dialog-title>Kennwort vergessen</h1>
    <button class="btn-close" mat-icon-button id="close" (click)="dialogRef.close()" tabindex="-1">
      <mat-icon>&#xe5cd;</mat-icon>
    </button>
  </header>
  <mat-dialog-content>
    <p>
      Gib bitte die E-Mail-Adresse an, mit der du dich registriert hast. Wir senden dir anschließend eine
      E-Mail mit einem Link, über den du dein Kennwort zurücksetzen kannst.
    </p>
    <mat-form-field color="accent" class="input-wrapper email">
      <mat-label>E-Mail</mat-label>
      <input autofocus matInput type="email" placeholder="Ihre E-Mail Adresse" formControlName="email"
        autocomplete="email" required>
      <mat-error *ngIf="fg.controls['email'].invalid">Bitte gib eine gültige E-Mail Adresse ein</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn-cancel" mat-button (click)="dialogRef.close()" type="button" tabindex="-1">Abbrechen</button>
    <button class="btn-submit" mat-button color="accent">
      <mat-icon>&#xe877;</mat-icon> Ok
    </button>
  </mat-dialog-actions>
</form>