:host {
  align-content: center;
  align-items: center;
  background-color: var(--clr-neutral-1dp);
  box-sizing: border-box;
  color: var(--clr-secondary);
  padding: 8px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;

  display: grid;
  gap: 8px;
}
