#content {
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 64px);
  padding-top: 64px;
}

@media (max-width: 599px) {
  #content {
    min-height: calc(100% - 56px);
    padding-top: 56px;
  }
}

:host ::ng-deep router-outlet+* {
  display: block;
  overflow: auto;
  flex: 1 0 auto;
}
