<trackmania-nav-tabs></trackmania-nav-tabs>

<mat-table fxFlex [dataSource]="rankings$ |async">

  <ng-container matColumnDef="position">
    <mat-header-cell fxFlex="80px" *matHeaderCellDef> # </mat-header-cell>
    <mat-cell fxFlex="80px" *matCellDef="let element; let i = index"> {{ i + 1 | number:'2.0' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell fxFlex="200px" *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell fxFlex="200px" *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="points">
    <mat-header-cell fxFlex="80px" *matHeaderCellDef fxLayoutAlign="end end"> Punkte </mat-header-cell>
    <mat-cell fxFlex="80px" class="points-cell" *matCellDef="let element" fxLayoutAlign="end center">{{ element.points
      }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
</mat-table>

<app-action-bar>
  <span fxFlex></span>
  <button mat-button color="accent" [routerLink]="['.']" [queryParams]="{ 'start-round': true }">Runde Starten</button>
</app-action-bar>
