service cloud.firestore {
  match /databases/{database}/documents {
    // Nobody can access anyone else data
    match /users/{uid} {
      allow read, write: if request.auth.uid == uid;
    }
    // Nobody can access anyone else data
    match /metadata/{uid} {
      allow read: if request.auth.uid == uid;
      allow write: if false;
    }

    // Nobody is allowed to write permissions
    match /users/{uid}/permissions {
      allow write: if false;
    }

    // Nobody is allowed to write permission
    match /trackmania_times/{id} {
      allow read: if request.auth.token['https://www.der-willi.de/permissions'].trackmania_read == true;
      allow write: if request.auth.token['https://www.der-willi.de/permissions'].trackmania_write == true;
    }

    // Nobody is allowed to write permission
    match /trackmania_ranking/{id} {
      allow read: if request.auth.token['https://www.der-willi.de/permissions'].trackmania_read == true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
