<form class="login-form" [formGroup]="fg" (ngSubmit)="fg.valid && login()">
  <h1 class="headline">Anmeldung</h1>
  <mat-form-field color="accent" class="input-wrapper email">
    <mat-label>E-Mail</mat-label>
    <input autofocus matInput type="email" placeholder="Deine E-Mail Adresse" formControlName="email"
      autocomplete="email">
    <mat-error *ngIf="fg.controls['email'].invalid">Bitte gib eine gültige E-Mail Adresse ein</mat-error>
  </mat-form-field>
  <mat-form-field color="accent" class="input-wrapper password">
    <mat-label>Kennwort</mat-label>
    <input matInput type="password" placeholder="Dein Kennwort" formControlName="password"
      autocomplete="current-password">
    <mat-error *ngIf="fg.controls['password'].invalid">Bitte gib dein Kennwort ein</mat-error>
  </mat-form-field>
  <a class="btn forgot-password" mat-stroked-button (click)="forgotPassword()">Kennwort vergessen?</a>
  <a class="btn signup" mat-stroked-button routerLink="/signup">Konto erstellen</a>
  <button class="btn submit login" mat-flat-button color="accent" type="submit">
    <mat-icon>&#xe877;</mat-icon>&nbsp;Anmelden
  </button>
</form>