@media screen and (max-width: 480px) {
  .fullscreen-mobile {
    bottom: 0;
    left: 0;
    max-width: 100% !important;
    position: fixed !important;
    right: 0;
    top: 0;

    .mat-dialog-container {
      border-radius: 0;
    }

    .mat-dialog-content {
      max-height: calc(100vh - 7rem);
    }
  }
}

.no-padding {
  .mat-dialog-container {
    >* {
      height: 100%;
    }
  }

  .mat-dialog-actions {
    margin-bottom: 0;
    padding: 0;
  }
}
