:host {
  display: block;
  height: 100%;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

:host ::ng-deep router-outlet+* {
  display: grid;
  min-height: 100%;
}
