<mat-toolbar>
  <div class="spacer">
    <button mat-icon-button [routerLink]="uri" *ngIf="navigateBackUri$ | async as uri">
      <mat-icon svgIcon="material:outline-arrow_back"></mat-icon>
    </button>
  </div>
  <h1 fxFlex>{{ headline$ | async }}</h1>
  <div class="spacer">
    <button mat-icon-button id="user-avatar" *ngIf="user$ | async as user" [matMenuTriggerFor]="appMenu">
      {{ user.email[0].toUpperCase() }}
    </button>
  </div>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="logout()">Abmelden</button>
</mat-menu>
