:host {
    flex-direction: column;
    padding-top: 0;
  }
  
  // Table
  :host ::ng-deep .mat-footer-row,
  :host ::ng-deep .mat-header-row,
  :host ::ng-deep .mat-row {
    border-bottom: none;
  }
  
  :host ::ng-deep .mat-header-row {
    text-transform: uppercase;
    min-height: 40px;
  }
  
  :host ::ng-deep .mat-header-cell {
    color: rgba(255, 255, 255, .4);
    align-items: flex-end;
  }
  
  :host ::ng-deep .mat-cell {
    color: rgba(255, 255, 255, .8);
  }
  
  :host ::ng-deep .mat-cell,
  :host ::ng-deep .mat-footer-cell,
  :host ::ng-deep .mat-header-cell {
    font-weight: 300;
  }
  