@import 'breakpoints';

:host {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.mat-table {
  grid-area: 1 / 1 / 2 / 2;
}

app-action-bar {
  grid-template-columns: repeat(2, 1fr);
}

@media #{$mat-gt-sm} {
  :host {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
}
