<mat-table class="willi-table" [dataSource]="lapTimes$ | async">

  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index"> {{ i + 1 | number:'2.0' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="time">
    <mat-header-cell class="points-cell-header" *matHeaderCellDef> Zeit </mat-header-cell>
    <mat-cell class="points-cell" *matCellDef="let element">{{ element.time }}</mat-cell>
  </ng-container>

  <mat-header-row class="willi-header" *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="willi-row" *matRowDef="let row; columns: displayedColumns; let i = index"></mat-row>
</mat-table>

<app-action-bar *ngIf="'trackmania_write' | hasPermission | async">
  <a class="outlined-btn" href="../">Zurück</a>
  <button class="contained-btn" (click)="startRound()">Runde Starten</button>
</app-action-bar>
