<form [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
  <h1 mat-dialog-title>Kennwort vergessen</h1>
  <button class="close-btn icon-btn" mat-icon-button mat-dialog-close tabindex="-1">
    <mat-icon>&#xe5cd;</mat-icon>
  </button>
  <mat-dialog-content>
    <p>
      Gib bitte die E-Mail-Adresse an, mit der du dich registriert hast. Wir senden dir anschließend eine
      E-Mail mit einem Link, über den du dein Kennwort zurücksetzen kannst.
    </p>
    <mat-form-field id="email-input">
      <mat-label>E-Mail</mat-label>
      <input autofocus matInput type="email" placeholder="Ihre E-Mail Adresse" formControlName="email"
        autocomplete="email" required>
      <mat-error *ngIf="fg.controls['email'].invalid">Bitte gib eine gültige E-Mail Adresse ein</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="outlined-btn" id="cancel-btn" (click)="dialogRef.close()" type="button"
      tabindex="-1">Abbrechen</button>
    <button class="contained-btn" id="submit-btn">Ok
    </button>
  </mat-dialog-actions>
</form>
