<mat-toolbar>
  <div fxFlex="40px"></div>
  <h1 fxFlex>Track 42</h1>
  <button tabindex="-1" mat-icon-button mat-dialog-close>
    <mat-icon svgIcon="material:outline-close"></mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="fg" (ngSubmit)="fg.valid && finish()">
  <mat-dialog-content fxLayout="column">
    <mat-form-field *ngFor="let name of names" color="accent">
      <mat-label>{{ name }}</mat-label>
      <input [tabindex]="-1" type="text" matInput [formControlName]="name" required>
    </mat-form-field>
  </mat-dialog-content>
  <mat-toolbar mat-dialog-actions>
    <button type="button" mat-button color="accent" (click)="finish(true)">Weitere Runde</button>
    <span fxFlex></span>
    <button type="submit" mat-button color="accent">Fertig</button>
  </mat-toolbar>
</form>
