<mat-toolbar class="dialog__header">
  <h1>Track {{ track }}</h1>
  <button tabindex="-1" mat-icon-button mat-dialog-close>
    <mat-icon>&#xe5cd;</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="fg" (ngSubmit)="fg.valid && finish()">
  <mat-dialog-content [style.grid-template-rows]="getCssGridRows()">
    <ng-container *ngFor="let name of names">
      <span class="name-label">{{ name }}</span>
      <mat-form-field color="accent">
        <mat-label>Zeit</mat-label>
        <input [textMask]="{mask: mask}" [tabindex]="-1" type="text" matInput [formControlName]="name" required
          autocomplete="off" (focus)="select($event)">
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>
  <mat-toolbar mat-dialog-actions>
    <button type="button" class="contained-btn" (click)="fg.valid && finish(true)">Weitere Runde</button>
    <button type="submit" class="outlined-btn">Fertig</button>
  </mat-toolbar>
</form>