<mat-toolbar>
  <div fxFlex="40px"></div>
  <h1 fxFlex>Neue Runde starten</h1>
  <button tabindex="-1" mat-icon-button mat-dialog-close>
    <mat-icon svgIcon="material:outline-close"></mat-icon>
  </button>
</mat-toolbar>
<form mat-dialog-content fxLayout="column" [formGroup]="fg">
  <p>Trage die Namen aller Teilnehmer ein, welche an den folgenden Runden teilnehmen werden. <br /><br />Die Namen werden in der
    für die Rekorde verwendet und sammeln Punkte für die Bestenliste. Achte daher bitte darauf, dass die Namen richtig
    geschrieben sind.</p>
  <ng-container formArrayName="players" *ngFor="let player of fg.get('players')['controls']; let i = index;">
    <mat-form-field [formGroupName]="i" color="accent">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" [matAutocomplete]="auto" [required]="fg.get('players')['controls'][i].get('name').errors !== null && fg.get('players')['controls'][i].get('name').errors.required">
    </mat-form-field>
  </ng-container>
  <button fxFlexAlign="end" color="accent" mat-button (click)="addPlayer()">
    <mat-icon svgIcon="material:outline-add_circle"></mat-icon>&nbsp;Spieler hinzufügen</button>
</form>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let name of names" [value]="name">{{ name }}</mat-option>
</mat-autocomplete>
