<mat-toolbar>
  <div fxFlex="40px"></div>
  <h1 fxFlex>Neue Runde starten</h1>
  <button tabindex="-1" mat-icon-button mat-dialog-close>
    <mat-icon>&#xe5cd;</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="fg" (ngSubmit)="fg.valid && next()">
  <mat-dialog-content fxLayout="column">
    <p>Trage die Namen aller Teilnehmer ein, welche an den folgenden Runden teilnehmen werden. <br /><br />Die Namen
      werden in der
      für die Rekorde verwendet und sammeln Punkte für die Bestenliste. Achte daher bitte darauf, dass die Namen
      richtig
      geschrieben sind.</p>
    <ng-container formArrayName="players" *ngFor="let player of fg.get('players')['controls']; let i = index;">
      <mat-form-field [formGroupName]="i" color="accent">
        <mat-label>Name</mat-label>
        <input [tabindex]="-1" type="text" matInput formControlName="name" [matAutocomplete]="auto" [required]="fg.get('players')['controls'][i].get('name').errors !== null && fg.get('players')['controls'][i].get('name').errors.required">
      </mat-form-field>
    </ng-container>
    <button tabindex="0" fxFlexAlign="start" color="accent" mat-button (click)="addPlayer()" type="button">
      <mat-icon>&#xe147;</mat-icon>&nbsp;Spieler hinzufügen
    </button>
  </mat-dialog-content>
  <mat-toolbar mat-dialog-actions>
    <span fxFlex></span>
    <button type="submit" mat-button color="accent">Weiter</button>
  </mat-toolbar>
</form>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let name of names" [value]="name">{{ name }}</mat-option>
</mat-autocomplete>
