<form [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
  <h1>Registrierung</h1>
  <mat-form-field color="accent" class="email">
    <mat-label>E-Mail Adresse</mat-label>
    <input matInput type="email" placeholder="Deine E-Mail Adresse" formControlName="email" autocomplete="email"
      required>
    <mat-error *ngIf="fg.controls['email'].invalid">Bitte gib eine gültige E-Mail Adresse ein</mat-error>
  </mat-form-field>
  <mat-form-field color="accent" class="password">
    <mat-label>Kennwort</mat-label>
    <input matInput type="password" placeholder="Dein Kennwort" formControlName="password" autocomplete="off" required>
    <mat-error *ngIf="fg.controls['password'].errors?.required">Bitte gib ein Kennwort ein</mat-error>
    <mat-error *ngIf="fg.controls['password'].errors?.minlength">Das Kennwort muss mindestens 6 Zeichen lang sein
    </mat-error>
  </mat-form-field>
  <a class="btn login" mat-stroked-button routerLink="/login">Du hast bereits ein Konto?</a>
  <button class="btn submit" mat-flat-button color="accent" type="submit">
    <mat-icon>&#xe877;</mat-icon>&nbsp;Konto erstellen
  </button>
</form>