<form [formGroup]="fg" (ngSubmit)="fg.valid && submit()">
  <h1>Persönliche Daten</h1>
  <p>Damit wir dich freischalten können müssen wir wissen wer du bist.</p>
  <mat-form-field color="accent">
    <mat-label>Vorname</mat-label>
    <input autofocus matInput placeholder="Homer" formControlName="forename" autocomplete="given-name" required>
    <mat-error *ngIf="fg.controls['forename'].invalid">Bitte gib deinen Vornamen ein</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Nachname</mat-label>
    <input matInput placeholder="Simpson" formControlName="surname" autocomplete="family-name" required>
    <mat-error *ngIf="fg.controls['surname'].invalid">Bitte gib deinen Nachnamen ein</mat-error>
  </mat-form-field>
  <mat-form-field color="accent">
    <mat-label>Spitzname</mat-label>
    <input matInput placeholder="Homie" formControlName="nickname" autocomplete="nickname">
  </mat-form-field>
  <button mat-flat-button color="accent" type="submit">
    <mat-icon>&#xe877;</mat-icon>&nbsp;Registrierung abschließen
  </button>
</form>