@import "~@angular/material/theming";

@mixin button-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-button {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
