// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './button';
@import './dialog';
@import './tabs';
@import './toolbar';
@import './app/pages/track-list-page/_track-list-page-theme';

$maennerabend-grey: (50 : #e5e5e5,
100 : #bfbfbf,
200 : #959595,
300 : #6a6a6a,
400 : #4a4a4a,
500 : #2a2a2a,
600 : #252525,
700 : #1f1f1f,
800 : #191919,
900 : #0f0f0f,
A100 : #ee6767,
A200 : #e93a3a,
A400 : #f00000,
A700 : #d60000,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #ffffff,
900 : #ffffff,
A100 : #000000,
A200 : #ffffff,
A400 : #ffffff,
A700 : #ffffff,
));

$maennerabend-turquoise: (50 : #e7f9f9,
100 : #c4f0f1,
200 : #9de6e7,
300 : #76dbdd,
400 : #58d4d6,
500 : #3bcccf,
600 : #35c7ca,
700 : #2dc0c3,
800 : #26b9bd,
900 : #19adb2,
A100 : #e6feff,
A200 : #b3fdff,
A400 : #80fbff,
A700 : #67faff,
contrast: (50 : #000000,
100 : #000000,
200 : #000000,
300 : #000000,
400 : #000000,
500 : #000000,
600 : #000000,
700 : #000000,
800 : #000000,
900 : #000000,
A100 : #000000,
A200 : #000000,
A400 : #000000,
A700 : #000000,
));

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$maennerabend-primary: mat-palette($maennerabend-grey);
$maennerabend-accent: mat-palette($maennerabend-turquoise);

// The warn palette is optional (defaults to red).
$maennerabend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$maennerabend-theme: mat-dark-theme($maennerabend-primary, $maennerabend-accent, $maennerabend-warn);

// Set custom background color
$maennerabend-background: map-get($maennerabend-theme, background);
$maennerabend-background: map_merge($maennerabend-background, (background: #363636));

// Merge background with theme
$maennerabend-theme: map_merge($maennerabend-theme, (background: $maennerabend-background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($maennerabend-theme);
@include button-theme($maennerabend-theme);
@include tabs-theme($maennerabend-theme);
@include toolbar-theme($maennerabend-theme);
@include track-list-page-theme($maennerabend-theme);
