@import './themes/turquoise-grey/index';
@import './themes/dialog';
@import './themes/tabs';
@import './themes/toolbar';
@import './app/pages/trackmania/track-list-page/_track-list-page-theme';
@import './app/shared/layout/components/header/_header-theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@mixin custom-theme($theme) {
  @include der-willi-header-theme($theme);
  @include tabs-theme($theme);
  @include toolbar-theme($theme);
  @include track-list-page-theme($theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
$theme: $turquoise-grey-theme;
@include angular-material-theme($theme);
@include custom-theme($theme);

/* General styles */
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
$is-dark-theme: map-get($theme, is-dark);

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: mat-color($foreground, text) !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

h1 {
  font-weight: 300;
}

.mat-menu-content:not(:empty) {
  padding: 0 !important;
}

.center-vertical {
  align-items: center;
  box-sizing: border-box;
  flex-direction: row;
  height: 100%;
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  place-content: center;
  width: 100%;
}
