@import './themes/dialog';
@import './themes/tabs';
@import './themes/toolbar';
@import './app/shared/layout/components/header/_header-theme';
@import 'themes/themes';

/* Include common styles */
@include mat-core();

/* All custom styles, which probably override material styles */
@import 'global';

html,
body {
  font-family: 'Roboto', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

// Transition between themes
* {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s !important;
}