@import "~@angular/material/theming";

@mixin tabs-theme($theme) {
  $primary: map-get($theme, primary);

  .mat-tab-nav-bar {
    background-color: mat-color($primary, 500) !important;
    border-bottom: none;
  }

  .mat-tab-link {
    font-weight: 300;
    text-transform: uppercase;
  }
}
