<trackmania-nav-tabs></trackmania-nav-tabs>
<section fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px" id="series-list">
  <a mat-button routerLink="0"> <img src="/assets/white-series.png"> </a>
  <a mat-button routerLink="1"> <img src="/assets/green-series.png"> </a>
  <a mat-button routerLink="2"> <img src="/assets/blue-series.png"> </a>
  <a mat-button routerLink="3"> <img src="/assets/red-series.png"> </a>
  <a mat-button routerLink="4"> <img src="/assets/black-series.png"> </a>
</section>
